<div class="row user-info">
  <div class="col-md-1 pull-left avatar-pic">
    <%= image_tag(@user.avatar.profile.url) if @user.avatar? %>
  </div>
  <div class="col-md-8 user-info-heading">
    <h4><%= @user.name %></h4>  
  </div>
  <div class="col-md-8 user-info-email">      
    <%= @user.email %>
  </div> 
</div>
<hr>
<div class="table-responsive">
  <table class="table table-striped" id="items-table">
    <thead class="thead-inverse">
      <tr>
        <th>Task/item</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "items/item", collection: @items %>
    </tbody>
  </table>
</div>
<div id="new-item">
  <%= render partial: "items/form" %>
</div>